<% if @matches.empty? %>
  <table class="table table-bordered table-striped">
    <tr>
      <th>Name</th>
    </tr>
    <tr>
      <td>There's nothing here!</td>
    </tr>
  </table>
<% else %>
  <table class="game-table table table-bordered table-striped">
    <tr>
      <th>Name</th>
      <% if show_console %>
        <th>Console</th>
      <% end %>
    </tr>
    <% @matches.each do |game| %>
      <tr>
        <td class="game-table-name-cell">
          <%= link_to game.name, game %>
          <%= link_to button_tag("Mark as duplicate", :class => "pull-right btn btn-mini btn-primary"), mark_as_duplicate_path(game), :class => "duplicate-link" %>
        </td>
        <% if show_console %>
          <td><%= link_to game.console.name, game.console %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
<%= will_paginate @matches, :renderer => BootstrapPagination::Rails %>
<script>
$(document).ready(function(){
  $(".duplicate-link").hide();
  $(".game-table-name-cell").hover(
    function() {
      $(this).find('.duplicate-link').show();
    }, 
    function() {
      $(this).find('.duplicate-link').hide();
    }
  );
});
</script>