<% if @matches.empty? %>
  <table class="table table-bordered table-striped">
    <tr>
      <th>Name</th>
    </tr>
    <tr>
      <td>There's nothing here!</td>
    </tr>
  </table>
<% else %>
  <table class="table table-bordered table-striped">
    <tr>
      <th>Name</th>
      <% if show_console %>
        <th>Console</th>
      <% end %>
    </tr>
    <% @matches.each do |game| %>
      <tr>
        <td><%= link_to game.name, game %></td>
        <% if show_console %>
          <td><%= link_to game.console.name, game.console %>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
<%= will_paginate @matches, :renderer => BootstrapPagination::Rails %>