<%= link_to button_tag('New Game', :class => "btn btn-primary pull-right"), new_game_path(:console => @console.shortname) %>
<h1><%= @console.name %></h1>
<%= render 'table', :show_console => false %>
