<table class="game-search-table">
  <tbody>
    <tr>
      <td>
        <div class="game-search-logo">
          <%= image_tag('Logo.png') %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <%= form_tag games_path, :method => :get, :class => "form game-search" do %>
          <div class="fields">
            <%= text_field_tag :q %>
            <%= button_tag('<i class="icon-search icon-white"></i>'.html_safe, :type => "submit", :class => "btn btn-primary") %>
          </div>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<script>
$(document).ready(function() {
  $(".game-search input[type=text]").focus();
});
</script>