<table class="game-search-table">
  <tbody>
    <tr>
      <td>
        <div class="game-search-logo">
          <%= image_tag('Logo.png') %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <!-- <%# search_form_for @search, :class => "form game-search" do |f| %>
          <div class="fields">
            <%# f.text_field :name_cont %>
            <%# submit_tag 'Search' %>
          </div>
        <%# end %> -->
        <%= form_tag games_path, :method => :get, :class => "form game-search" do %>
          <div class="fields">
            <%= text_field_tag :q %>
            <%= submit_tag 'Search' %>
          </div>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>