/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#all-pictures-table {
    display:block;
    width:600px;
    margin: 0 auto;
}

.top-picture {
    display:block;
    width:510px;
    height:215px;
    margin: 0 auto;
}

.top-picture img {
    width:460px;
}

/* Table based Vote displaying */

.vote {
    width:50px;
    height:215px;
}

tr.vote-arrow, tr.vote-arrow td {
    height: 78px;
    max-height: 78px;
}

tr.vote-count, tr.vote-count td {
    height: 58px;
    max-height: 58px;
}

tr.vote-count td, li.vote-count {
    text-align:center;
    font-size:22px;
    font-weight:bold;
}

.vote tr {
    
}

.vote td {
    border-top:0 !important;
}

/* List based Vote displaying */

ul.vote {
    margin:0;
    display:inline;
    list-style: none;
}

ul.vote li.spacer {
    height:38px;
}

ul.vote li {
    vertical-align:middle;
}

ul.vote li.vote-arrow {
    height:50px;
}

ul.vote li.vote-count {
    height:30px;
}

.game-search-logo {
    display:block;
    width:650px;
    margin:0 auto;
    padding-top:100px;
}

.game-search-logo img {
    display:block;
    width:400px;
    margin:0 auto;
}

/*.game-search-table {
    width:650px;
    display:block;
    margin:0 auto;
}*/

.game-search {
    width:940px;
}

.game-search .fields {
    display:block;
    width:650px;
    margin:0 auto;
}

.game-search input[type=text] {
    width:550px;
}

.game-search button {
    margin-bottom:10px;
}